NET switch_1 LOC = C14 | IOSTANDARD=LVTTL;
NET switch_0 LOC = A10 | IOSTANDARD=LVTTL;
NET switch_6 LOC = T5 | IOSTANDARD=LVTTL;
NET LED_1 LOC = N14 | IOSTANDARD=LVTTL;
NET LED_0 LOC = U18 | IOSTANDARD=LVTTL;
NET LED_6 LOC = P16 | IOSTANDARD=LVTTL;