NET AN0 LOC = A10 | IOSTANDARD=LVTTL;
NET AN1 LOC = D14 | IOSTANDARD=LVTTL;
NET AN2 LOC = C14 | IOSTANDARD=LVTTL;
NET AN3 LOC = P15 | IOSTANDARD=LVTTL;
NET LED(0) LOC = U18 | IOSTANDARD=LVTTL;
NET LED(1) LOC = M14 | IOSTANDARD=LVTTL;
NET LED(2) LOC = N14 | IOSTANDARD=LVTTL;
NET LED(3) LOC = L14 | IOSTANDARD=LVTTL;
NET LED(4) LOC = M13 | IOSTANDARD=LVTTL;
NET LED(5) LOC = D4 | IOSTANDARD=LVTTL;
NET LED(6) LOC = P16 | IOSTANDARD=LVTTL;