NET switches(0) LOC = A10 | IOSTANDARD=LVTTL;
NET switches(1) LOC = D14 | IOSTANDARD=LVTTL;
NET LEDs(0) LOC = U18 | IOSTANDARD=LVTTL;
NET LEDs(1) LOC = M14 | IOSTANDARD=LVTTL;
NET LEDs(2) LOC = N14 | IOSTANDARD=LVTTL;
NET LEDs(3) LOC = L14 | IOSTANDARD=LVTTL;
NET LEDs(4) LOC = M13 | IOSTANDARD=LVTTL;
NET LEDs(5) LOC = D4 | IOSTANDARD=LVTTL;
NET button LOC = N4 | IOSTANDARD=LVTTL;
NET LEDs2(0) LOC = P16 | IOSTANDARD=LVTTL;
NET LEDs2(1) LOC = N12 | IOSTANDARD=LVTTL;