NET switch0 LOC = A10 | IOSTANDARD=LVTTL;
NET switch1 LOC = D14 | IOSTANDARD=LVTTL;
NET LED0 LOC = U18 | IOSTANDARD=LVTTL;
NET LED1 LOC = M14 | IOSTANDARD=LVTTL;
NET LED2 LOC = N14 | IOSTANDARD=LVTTL;
NET LED3 LOC = L14 | IOSTANDARD=LVTTL;
NET LED4 LOC = M13 | IOSTANDARD=LVTTL;
NET LED5 LOC = D4 | IOSTANDARD=LVTTL;
NET LED6 LOC = P16 | IOSTANDARD=LVTTL;
NET LED7 LOC = N12 | IOSTANDARD=LVTTL;